@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
    margin: 0;
    padding: 0;
}
.userForm {
    max-width: 400px;
    margin: 0 auto;
    background-color: #3F5D63;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.form2{
    display: none;
}
.form2.exibir-form2 {
    display: block;
}

.userSenha{
    margin-top: 15px;
}

.input-container {
    margin: 10px 0;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#showPassword {
    margin-right: 5px;
}

select {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.userVoltar {
    display: none;
}
.buttons {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.nomeUserContainer {
    position: relative;
    display: inline-block;
}

.nomeUser {
    padding-left: 25px;
}

.icon {
    position: absolute;
    left: 12.0rem;
    top: 4px;
}
button:hover {
    background-color: #0056b3;
}
body{
    box-sizing: border-box;
    background-color: #3F5D63;
    color: white;
}
.cabecalho{
    width: 100%;
    background-color: #537780;
    color: white;
    padding: 10px 0px 10px 0px;
    text-align: center;
}
.cabecalho_link:hover {
    background: #272727;
    transform: scale(1.1);
}
.cabecalho_menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
}
.cabecalho_link {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    padding: 8px 15px;
    border: 1px solid ;
    max-width: 200px;
    width: 100%;
    cursor: pointer;
    transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
    position: relative;
    overflow: hidden;
}
.cabecalho_link::before,
.cabecalho_link::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 0;
    height: 4px; /* Aumente a altura para 4px */
    background-color: white;
    transition: all 0.3s ease-in-out;
}
.cabecalho_link::before {
    left: 50%;
    transform: translateX(-100%);
}
.cabecalho_link::after {
    right: 50%;
    transform: translateX(100%);
}
.cabecalho_link:hover::before,
.cabecalho_link:hover::after {
    width: 50%;
    transform: translateX(0);
}
.titulo{
    font-family: 'Krona One', sans-serif;
    font-size: 1.875rem;
    width: 50%;
}
.subTitulo{
    font-family: 'Krona One', sans-serif;
    font-size: 1.125rem;
    width: 50%;
    color: aqua;
}
.selecione{
    color: aqua;
    font-family: 'Krona One', sans-serif;
    font-size: 1.375rem;
    width: 50%;
}

.apresentacao{
    margin: 8% 12%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.imagem{
    height: 50%;
    width: 50%;
}
.github{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Krona One', sans-serif;
    gap: 20px;
}
.github_sub{
    width: 50%;
    font-weight: 400;
    font-size: 1.5rem;
}
.github_link{

    display: flex;
    justify-content: center;
    gap: 12px;
    border: 2px solid aqua;
    width: 50%;
    border-radius: 10px;
    font-size: 1.375rem;
    padding: 21px;
    text-decoration: none;
    color: white;
}
.github_link:hover {
    background: #272727;
    animation: pulse 1s infinite;
}

.flexButton{
    display: flex;
    flex-wrap: wrap;
}
.myButton {
    font-family: 'Krona One', sans-serif;
    font-size: 1rem;
    margin: 10px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 16px;
    background-color: aqua;
    color: black;
}

.myButton:hover {
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
.botao-menor {
    font-family: 'Krona One', sans-serif;
    font-size: 0.75rem;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 16px;
    background-color: chocolate;
    color: black;
}
.rodaPe{
    padding: 18px;
    background: #537780;
    text-align: center;
    color: black;
    font-family: 'bond', sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
}
.areaLogin {
    width: 50%;
    font-family: 'Arial', 'sans-serif';
    font-size: 1.375rem;
    align-content: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 50px;
}
.nomeSenha {
    width: 50%;
    padding: 15px;
    outline: none;
    font-size: 1rem;
}
.enviar {
    background-color: dodgerblue;
    border: none;
    width: 50%;
    padding: 15px;
    border-radius: 15px;
    color: white;
    font-size: 0.9375rem;
}
.enviar:hover{
    background-color: deepskyblue;
    cursor: pointer;
}
@media screen and (max-width: 768px) {
    .conteudo {
        flex-direction: column;
    }

    .texto-e-imagem {
        gap: 20px;
        display: flex;
        flex-direction: column-reverse; /* Inverter a ordem dos elementos na coluna */
        align-items: center; /* Centralizar os elementos na coluna */
    }

    .imagem {
        width: 100%;
        height: auto;
        order: -1; /* Muda a ordem da imagem para que apareça acima do texto */
    }

    .cabecalho {
        width: 100%;
        padding: 3% 25% 10%;
        text-align: center;
    }

    .titulo{
        font-family: 'Krona One', sans-serif;
        width: 100%;
    }

    .cabecalho_menu {
        align-content: center;
        flex-direction: column;
        gap: 10px;
    }

    .cabecalho_link {
        width: 80%;
    }

    .apresentacao {
        flex-direction: column;
        margin: 8% 8%;
    }

    .conteudo {
        width: 80%;
    }

    .github {
        width: 80%;
    }

    .github_link {
        width: 80%;
    }

    .areaLogin {
        width: 100%;
        padding: 20px;
    }

    #userForm {
        max-width: 100%;
        padding: 20px;
    }

    .nomeUser,
    .senhaUser,
    .input-container,
    select,
    button {
        width: 100%;
    }
}
