body {
    font-family: Arial, sans-serif;
    background-image: url('404-status-code.png');
    background-size: cover;
    text-align: center;
    padding: 65px;
}

h1 {
    font-size: 36px;
    color: chocolate;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 55px;
}

.button-container a {
    text-decoration: none;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}