<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela de login</title>
    <link rel="stylesheet" href="/estilos/aboutStyle.css">
</head>
<body>
<header class="cabecalho">
    <nav class="cabecalho_menu">
        <a class="cabecalho_link" href="/"><span></span>Home</a>
        <a class="cabecalho_link" href="/calcJava"><span></span>Calculadora</a>
    </nav>
</header>
    <main class="apresentacao">
        <section class="conteudo">
            <section class="login">
            <h1 class="titulo">Area de login</h1>
            <div class="areaLogin">
                <h2>login e Cadastro.</h2>
                <br><br>
                <!--Formulario Login e Registro-->
                <form action="/processForm" method="post" class="userForm" id="form1">
                    <div th:if="${mensagem}" th:text="${mensagem}" class="mensagem"></div>
                    <br>
                    <div class="nomeUserContainer">
                        <label>
                            <img class="icon" src="image/user-regular-white.png" alt="Ícone do usuário"/>
                            <input class="nomeUser" type="text" id="username" name="username" placeholder="Nome" required/>
                        </label>
                    </div>
                    <div class="nomeUserContainer">
                        <label>
                            <img class="icon" src="image/lock-alt-regular-white.png" alt="Ícone do cadeado"/>
                            <input type="password" class="password mostrar-senha" name="password" placeholder="Senha" required>
                        </label>
                    </div>
                    <br><br>
                    <div>
                        <label class="showPassword" style="display: inline-block; margin-right: 0.7rem; pointer-events: none">Mostrar senha</label>
                        <input type="checkbox" class="showPassword" onchange="togglePasswordVisibility()" style="display: inline-block; transform: scale(1.6);">
                    </div>

                    <select id="action" class="selecao" name="action">
                        <option value="register">Registrar</option>
                        <option value="login">Login</option>
                    </select><br><br>
                    <button type="submit" class="buttons">Enviar</button>
                </form>
                <!--Fim do Formulario Login e Registro-->
                <!--Formulario de alterar nome-->
                <form action="/processAlterar" method="post" class="userForm form2">
                    <div th:if="${mensagem}" th:text="${mensagem}" class="mensagem"></div>
                    <br>
                    <div class="nomeUserContainer">
                        <label>
                            <img class="icon" src="image/user-regular-white.png" alt="Ícone do usuário"/>
                            <input type="text" class="username" name="username" placeholder="Nome" required/>
                        </label>
                    </div>
                    <div class="nomeUserContainer">
                        <label>
                            <img class="icon" src="image/lock-alt-regular-white.png" alt="Ícone do cadeado"/>
                            <input type="password" class="password mostrar-senha" name="password" placeholder="Senha" required>
                        </label>
                    </div>
                    <div class="nomeUserContainer userSenha">
                            <label>
                                <img class="icon" src="image/user-regular-white.png" alt="Ícone do usuário"/>
                                <input class="senhaUser" type="text" id="alterar_username" name="alterar_username" placeholder="Novo nome" required>
                            </label>
                    </div>
                    <br><br>
                    <div>
                        <label class="showPassword" style="display: inline-block; margin-right: 0.7rem; pointer-events: none">Mostrar senha</label>
                        <input type="checkbox" class="showPassword" onchange="togglePasswordVisibility()" style="display: inline-block; transform: scale(1.6);">
                    </div>

                    <button type="submit" class="buttons altNome">Alterar Nome</button>
                </form>
                <!--Fim Formulario de alterar nome-->
                <!--Formulario de deletar conta-->
                <form action="/processDeletar" method="post" class="userForm form3">
                    <div th:if="${mensagem}" th:text="${mensagem}" class="mensagem"></div>
                    <br>
                    <div class="nomeUserContainer">
                        <label>
                            <img class="icon" src="image/user-regular-white.png" alt="Ícone do usuário"/>
                            <input type="text" class="username" name="username" placeholder="Nome" required/>
                        </label>
                    </div>
                    <div class="nomeUserContainer">
                        <label>
                            <img class="icon" src="image/lock-alt-regular-white.png" alt="Ícone do cadeado"/>
                            <input type="password" class="password mostrar-senha" name="password" placeholder="Senha" required>
                        </label>
                    </div>
                    <h4 class="textAviso">Deseja deletar a conta?</h4>
                    <div class="nomeUserContainer userSenha">
                        <label>
                            <img class="icon" src="image/user-regular-white.png" alt="Ícone do usuário"/>
                            <input class="senhaUser" type="text" id="deletar_username" name="deletar_username" placeholder="Digite 'sim'" required>
                        </label>
                    </div>
                    <br><br>
                    <div>
                        <label class="showPassword" style="display: inline-block; margin-right: 0.7rem; pointer-events: none">Mostrar senha</label>
                        <input type="checkbox" class="showPassword" onchange="togglePasswordVisibility()" style="display: inline-block; transform: scale(1.6);">
                    </div>
                    <button type="submit" class="deletNome">Deletar conta</button>
                </form>
                <!--Fim do Formulario de deletar conta-->
                <div class="botoesOp">
                    <button class="alterarUser userButton" id="userAlt">Alterar Nome de Usuario</button>
                    <button class="deletarUser userButton" id="userDelet">Deletar Usuario</button>
                    <button class="userVoltar userButton" id="userVoltar">Voltar para Registro/Login</button>
                </div>
            </div>
            </section>
            <div class="texto-e-imagem">
            <div class="github" style="position: relative; top: 25%">
                <h2 class="github_sub">Acesse este repositório:</h2>
                <a class="github_link" href="https://github.com/HenriqueStrada/CalculadoraPrestativaSpringBoot">
                    <img src="/image/github.png" height="32" width="33" alt="gitHub Icon"/>GitHub</a>
            </div>
            </div>
        </section>
        <img class="imagem texto-e-imagem" src="/image/login.png" height="480" width="480" alt="eu sabo image"/>
        <!--Função de mostrar ou esconder senha.-->
        <script>
            function togglePasswordVisibility() {
                var passwordInput = $(".password");
                if (passwordInput.attr("type") === "password") {
                    passwordInput.attr("type", "text");
                } else {
                    passwordInput.attr("type", "password");
                }
            }
        </script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="logCad.js"></script>
    </main>
    <footer class="rodaPe">
        <p>Desenvolvido por Henrique Strada e Gustavo Heimburg</p>
    </footer>
</body>
</html>
